.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1d;
  height: 100vh;
  padding: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.05) 75%,
      transparent 75%,
      transparent
    );
    background-size: 4px 4px;
    pointer-events: none;
  }
}

.login-form {
  background-color: #2e2e2e;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  color: #fff;
  width: 100%;
  max-width: 360px;
  text-align: center;
  margin: 20px;

  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px 0;

    i {
      position: absolute;
      left: 10px;
      color: #a0a0a5;
      font-size: 1rem;
    }

    input {
      padding: 10px 10px 10px 30px;
      width: 100%;
      border: 1px solid #a1d661;
      border-radius: 6px;
      background-color: #2b2b2d;
      color: #fff;
      transition: box-shadow 0.3s ease;

      &:focus {
        outline: none;
        border-color: #ffcd29;
        background-color: #2d2d2d;
        box-shadow: 0 0 8px rgb(255 205 41 / 50%);
      }

      &::placeholder {
        color: #a0a0a5;
      }
    }
  }

  button {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #ff6e61;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Montserrat, sans-serif;
    cursor: pointer;

    .spinner {
      border: 3px solid rgb(255 255 255 / 30%);
      border-top: 3px solid #ffcd29;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      animation: spin 0.8s linear infinite;
    }

    &:hover {
      background: linear-gradient(90deg, #ff7b6f, #ff6e61);
    }
  }

  .form-header {
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    margin-bottom: 25px;
    color: #f5f5f5;
    text-align: center;
    font-weight: 700;
  }

  .error-input {
    color: #ff6b6b;
    box-shadow: 0 0 5px rgb(255 107 107 / 50%);
  }

  .error-text {
    color: #ff6b6b;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-left: 10px;
  }

  .forgot-password {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #a0a0a5;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s ease, text-decoration 0.3s ease;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  .account-options {
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 0.9rem;

    .create-account {
      color: #a1d661;
      font-weight: bold;
      text-decoration: none;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }

    .divider {
      margin: 0 10px;
      color: #ccc;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
